@import url("https://fonts.googleapis.com/css?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700");

p {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#card {
  padding: 30px;
  width: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#button {
  width: 120px;
  margin: 0px 0px 0px;
}

#chooseLanguageChar,
#loginCar,
#welcome {
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 30px;
  width: 100%;
}

#loginCar {
  margin-bottom: 10px;
}

.form-control:focus {
  border-color: grey !important;
  box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.3) !important;
}

/* Change the switch background color on log in page*/
[class="custom-control-input"]:checked
  ~ [class="custom-control-label"]::before {
  background-color: black;
}

.custom-select:focus {
  border-color: grey;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.3);
}

@media screen and (max-width: 600px) {
  #welcome,
  #loginCar {
    font-size: 20px;
  }
  #signUpContainer {
    height: 120% !important;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  label {
    display: none;
  }

  div.invalid-feedback {
    display: none !important;
  }
}
