@import url("https://fonts.googleapis.com/css?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

.chat {
  display: flex;
  flex-direction: column;
  /* 65% of browser window is going to be chat box */
  flex: 0.65;
}

.chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-align: center;
}

.chat__headerInfo > p {
  color: gray;
}

.chat__body {
  flex: 1;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ83xAWMMns2ARvFbfxNKZ40k8FwfHcbcUhnw&usqp=CAU");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  /* gives scrolling features when enough text messages enter the chat body */
  overflow: scroll;
}

.chat__message {
  /* position relative for message so span tag can be position: absolute WITHIN this box*/
  position: relative;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.chat__receiver {
  margin-left: auto;
  background-color: #007AFF;
  color: #ffffff
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
} 

.chat__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 1;
  display: flex;
}

.chat__footer > form > input {
  flex: 1;
  outline-width: 0;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

textarea:focus, input:focus{
  outline: none;
}

#userMessageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  width:100%; 
  margin-right: 15px; 
  border-radius: 25px; 
  position: relative; 
  padding:5px;
}

#userMessage {
  border: none; 
  width: 50%;
  margin: 0 10px 0 10px; 
}

#sendMessageBtn {
  border-radius: 25px;
  border: 0px;
  background-color: black;
  color: white;
  right: 5px;
  position: absolute;
}

button {
  border:none;
  outline:none;
}

button:active {
  outline: none;
  border:none;
}


.sidebar {
  display: flex;
  flex-direction: column;
  /* 35% of browser window is going to be sidebar */
  flex: 0.35;
}

.sidebar__header {
  display: flex;
  /* fits avatar image in line with other icons */
  justify-content: space-between;
  padding: 20px;
  /* adds gray bar between last icon and chat window */
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  min-width: 10vw;
}
