.sidebar {
  display: flex;
  flex-direction: column;
  /* 35% of browser window is going to be sidebar */
  flex: 0.35;
  padding-left: 15px;
  height: 100%;
  padding-bottom: 15px;
}

.sidebar h3 {
  margin:15px 5px;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}

.sidebar__header {
  display: flex;
  padding-top: 10px;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  min-width: 10vw;
  color: black;
}

/* MuiSvgIcon-root is the default class @material-ui produces when you inspect icons in browser */
/* Target direct child which is of that class  */
.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

/* Adds lighter gray search box around text input */
.sidebar__search {
  display: flex;
  align-items: center;
}

/* Creates a white container within the search container with rounded edges */
.sidebar__searchContainer {
  display: flex;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

/* MuiSvgIcon-root is the default class @material-ui produces when you inspect icons in browser */
/* Target direct child which is of that class  */
/* Turns magnifying glass icon gray */
.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

/* Tagrtes direct child of container (which is input) */
/* Removes square border currently around search box */
.sidebar__searchContainer > input {
  border: none;
  /* Gets rid of highlighted outline within search field */
  outline-width: 0;
  margin-left: 10px;
}

/* white background set up so when hovered over from SidebarChat/style.css the area turns gray */
.sidebar__chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
  border-radius: 25px;
}

@media screen and (max-width: 600px) {
  .sidebar__header {
    display: block;
    padding-top: 30px;
  }

  .sidebar h3 {
    font-size: 15px;
  }
}