@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

#loginLogo {
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 100%;
}
